[Desktop Entry]
Type=Application
Version=1.4.2
Name=STECCY
GenericName=steccy - zx spectrum emulator
Comment=ZX Spectrum Emulator
Exec=xsteccy
Terminal=false
Icon=/usr/local/lib/steccy.png
Categories=Game;
StartupNotify=false
Keywords=zx spectrum emulator
